<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApartmentNow | Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div id="bg">
        <div id="title">
            <h1>ApartmentNow</h1>
            <span>Find My Sweet Place</span>
            <div id="btns">
                <div class="btn">
                    <div class="btn-layer" onclick="location.href='/map';">
                        <span>MAP</span>
                    </div>
                </div>
                <div class="btn">
                    <div class="btn-layer" onclick="location.href='/chart';">CHART</div>
                </div>
                <div class="btn">
                    <div class="btn-layer">SOON</div>
                </div>
            </div>
        </div>
        <footer class="copyright">
            <p>Copyright © 2021 bt4.Crew All rights reserved.</p>
        </footer>
    </div>
</body>

</html>